# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

#ti
*.d51
*.map
*.r51
*.pbi
ti/Projects/ble/Health/CC2541DB/CC2541/
ti/Projects/ble/Health/CC2541DB/
